@page "/settings"
<div class="row">
    <div class="col-md-10 offset-1 text-center">
        <h2>Settings</h2>
        <br/>
        <hr style="color: white"/>
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-1 text-center">
        <h4 style="color: lightgray;">Broker queues</h4>
        <BrokerSettings></BrokerSettings>
    </div>
</div>
@code {
    
}